<!doctype html>
<html>
  <head>
    <title>Marist Basketball</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
    

  </head>
  <body>
    <header>
      <!--Site Name-->
      Basketball
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img src = "https://bit.ly/3IyUnUB" id = redfox> 
        Need practice?      </div>
      </header>

    
    <main>
      <div id="newsfeed"></div>
    </main>
    <footer>

      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>

    </footer>
    <script src = "../js/global.js"></script>
    <script src = "../js/feed.js"></script>
  </body>
</html>